<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.mapper.ShareMapper">
    <delete id="deleteFileShareBatch">
        delete from tb_share
        where user_id = #{userId}
        and share_id in (<foreach collection="shareIdArray" item="item" separator=",">#{item}</foreach>)
    </delete>

    <delete id="deleteByUserId">
        delete from tb_share where user_id = #{userId}
    </delete>
</mapper>